[2021-04-06 02:53] abdukhashimov commented on #667
Ok @n3wscott I will try and let you know about the results soon. )

[2021-04-08 17:03] deissnerk opened #670 "Extension name with more than 20 characters throws error"
[`SetExtension()`](https://github.com/cloudevents/sdk-go/blob/f322543770b0da85f3e001dbda6f9e686cbe745f/v2/event/eventcontext_v1.go#L75) of the v1.0 event context throws an error, if the name of the extension is longer than 20 characters. In the spec this length restriction is a [SHOULD NOT](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#attribute-naming-convention) restriction. So failing

[2021-04-08 21:57] n3wscott commented on #670
It should be possible. Good point. What version of the sdk are you seeing this in? it is in the latest 2.4.0?

[2021-04-08 21:58] #667 closed

[2021-04-08 22:01] n3wscott opened #671 "Nil pointer exception after NewEvent with invalid version."
If, say,`event := cloudevents.NewEvent("2.0")` is used to make `event` and then `event.SetType("foo")` is called, this causes a nil pointer exception because the internal context is nil.

I would expect to be able to call the convenience methods on event without NPE on an event that the `NewEvent` method made. I might not expect that event to be sendable by the client. But I do want to assemble it

[2021-04-09 09:07] deissnerk commented on #670
We experienced it first with the 2.4.0 release. I think it might have sneaked in with this [commit](https://github.com/cloudevents/sdk-go/commit/2c1245bfced37e33cc33c00d1abadb8d11f1a63f).

[2021-04-09 20:30] n3wscott commented on #670
Yep. ok thanks! I will get a point fix release out in the next couple days.

[2021-04-11 12:15] moninCX opened #673 "AMQP does't work"
Hi! I try to use amqp sample, and when I run, I got an compilation error:

github.com/cloudevents/sdk-go/protocol/amqp/v2
..\github.com\cloudevents\sdk-go\protocol\amqp\v2\message.go:125:23: not enough arguments in call to m.AMQP.Reject
	have (*amqp.Error)
	want (context.Context, *amqp.Error)
..\github.com\cloudevents\sdk-go\protocol\amqp\v2\message.go:130:22: not enough arguments in call to m.AMQ

[2021-04-12 05:46] moninCX commented on #673
In the file message.go I added context.TODO() in Finish function:

func (m *Message) Finish(err error) error {
	if err != nil {
		return m.AMQP.Reject(context.TODO(),&amqp.Error{
			Condition:   condition,
			Description: err.Error(),
		})
	}
	return m.AMQP.Accept(context.TODO())
}

I'm not sure, that it correct solution, but error is gone.

[2021-04-12 11:23] deissnerk commented on #670
Thank you. If it is only about removing the length check, I can come up with a little PR, too.

[2021-04-12 15:40] n3wscott commented on #670
@deissnerk If you want to write the PR, that would be great, I was thinking of having a global setting that an importer can set the max length to something they wish, but have the default be unlimited (0).

[2021-04-12 23:15] n3wscott commented on #673
It seems the API on the AMQP lib have changed. https://github.com/Azure/go-amqp/releases/tag/v0.13.6

[2021-04-13 08:57] moninCX opened #677 "How to set exchanges in AMQP"
Hi! When we create a new protocol, we set address and node. Node - is a message queue in broker.
I use rabbitMQ, and want that new protocol create a exchange, not a queue. How I can do that? Can I do that?)

[2021-04-19 16:56] n3wscott commented on #677
If you are able to use the `github.com/Azure/go-amqp`, you would configure those details and pass them to https://github.com/cloudevents/sdk-go/blob/main/protocol/amqp/v2/protocol.go#L33.

Or if you need more control, you might need to make a new protocol?

Do you have a sample of code you are trying to work with?

[2021-04-20 09:10] moninCX commented on #677
I made new protocol:
protocol, err = ceamqp.NewProtocol("amqp://guest:guest@localhost:5672/", "/exchange/cloudEventsExchange/routeKey", []amqp.ConnOption{}, []amqp.SessionOption{}, nil...)

And when I send a message, it really goes to the exchange. But each time a new queue is created with a random name. Where can I set the binding of specific queues to a specific exchange and disable auto-generat

[2021-04-21 17:49] n3wscott commented on #677
you will have to excuse me not knowing AMQP too deeply, but anything you can do here https://github.com/Azure/go-amqp you should be able to use via this CloudEvents SDK, we are trying to wrap that and enable the CloudEvents binding protocol onto AMQP.

based on https://github.com/Azure/go-amqp#example-usage, perhaps you need `amqp.LinkTargetAddress("/queue-name")`
which is suppose to be exposed wi

[2021-04-21 17:51] n3wscott commented on #677
ah wait, check this out: https://github.com/cloudevents/sdk-go/blob/4eda82b712122927cbfce67652284fe611e6732c/protocol/amqp/v2/protocol.go#L33

Could you try the `NewProtocolFromClient(client *amqp.Client, session *amqp.Session, queue string, opts ...Option)` method out and see if it gets you want you need? Use `NewProtocolFromClient` instead of `NewProtocol`, this gives you the chance to configure

[2021-04-22 17:49] n3wscott commented on #630
I will have to look later next week.

[2021-04-26 15:48] Shashankft9 opened #682 "Traces are not generated using v2.4"
While trying to reuse the convention followed in knative-eventing sources to generate traces using cloudevents sdk, I noticed that considerable code has been changed in v2.4 which is being used by the `main` branch of knative-eventing now, like here:

- https://github.com/cloudevents/sdk-go/blob/main/v2/client/client.go#L55 to generate the client.
- https://github.com/cloudevents/sdk-go/blob/main/

[2021-04-27 16:08] n3wscott commented on #682
@slinkydeveloper to comment

[2021-04-28 03:21] sravya-a opened #683 "Cloudevents support for Segmentio/kafka-go library"
Implement Kafka binding for segmentio/kafka-go library similar to what is done here: https://github.com/cloudevents/sdk-go/pull/314

[2021-04-28 03:26] sravya-a commented on #683
`Note:` This is an enhancement request and I am up for adding this.

[2021-04-30 07:52] acodetailor commented on #301
support batch event now ?

[2021-05-03 14:42] aneeshkp opened #684 "calling close on amqp protocol object , generates infinite loop."
When calling close on protocol
[code]
The code goes  on an infinite loop
[code]
With error
[code]

[2021-05-10 05:49] moninCX opened #685 "How to reconnect amqp if session ended by server"
Hi!
When start receiving, check if something wrong only when starting.

// this is blocking
if err := client.StartReceiver(ctx, eventHandler.Handle); err != nil {
		log.Fatal().Err(err).Msg("EventListener failed to start")
		return err
	}

But, if server down when this function already running, I got this warning:
{"level":"warn","ts":1620560979.9585598,"logger":"fallback","caller":"client/client.

[2021-05-13 11:14] moninCX commented on #685
I solved this issue that way:
Made monitoring of err field in protocol.session
[code]
And run it in go routine: `go listener.monitor(cancel)`
And then, when I got an err != nil in that field, I cancel context - that stoped `client.StartReceiver(ctx, eventHandler.Handle)`
And from that moment can do reconnect.

[code]

[2021-05-18 18:05] #673 closed

[2021-05-19 09:47] Xopek commented on #301
Really looking forward to be able to send multiple events at once. Can i help somehow to implement it?

[2021-06-07 10:27] salaboy commented on #202
@slinkydeveloper @n3wscott I am happy to take these issue to learn about how the internal works..
But I am currently trying to setup my own extension and I am finding it quite complicated.. as this seems to be deprecated:

https://github.com/cloudevents/sdk-go/blob/main/samples/http/receiver-traced/main.go#L23

And:

[code]

Seems to not enable users to add external decorators which I think are ne

[2021-06-08 20:46] tamalsaha opened #690 "Feature request: Use logr instead of uber/zap directly"
We are using cloudevents SDK from our k8s projects. It would be nice if we could just use on logging library. What do you think about using https://github.com/go-logr/logr as the logger. Then users can plugin zap (https://github.com/go-logr/zapr) or klog (https://github.com/kubernetes/klog/tree/main/klogr) or anything else they like to use as the underlying logging library.

[2021-06-09 23:27] mmayeda opened #691 "EventReceiver ServeHTTP returns early"
Starting in v2.4.1, the EventReceiver ServeHTTP handler seems to sometimes return before the user provided function that is called by the receiveInvoker; cancelling the request context passed to the user provided function prematurely.
The following code can be used to reproduce the issue:
`package main

import (
	"context"
	"github.com/cloudevents/sdk-go/v2/event"
	"github.com/google/uuid"
	cloude

[2021-06-15 12:24] slinkydeveloper commented on #682
Are you creating the client with this method? https://github.com/cloudevents/sdk-go/blob/main/observability/opencensus/v2/client/client.go#L14

[2021-06-16 10:51] Shashankft9 commented on #682
I just tried this method, it works - thank you!
Would it make sense to add its alias in `alias.go` as `NewClientHTTPObserved`? It'd be easier to use this method and I'd guess this would also replace the method used by eventing sources since currently they make use of https://github.com/cloudevents/sdk-go/blob/main/v2/client/client.go#L55 to generate the client.

If it makes sense to you, I can do

[2021-06-16 11:25] slinkydeveloper commented on #682
@Shashankft9 the idea of the change was to remove the dependency on opencensus, adding to alias.go would reintroduce the dependency on opencensus, so it's a no go for me.

[2021-06-16 11:38] Shashankft9 commented on #682
@slinkydeveloper does this mean that anything under `cloudevents/sdk-go/observability` is bound to go away later? Or the purpose was just to separate `v2`  from `observability`? I can imagine why doing the latter would makes sense to remove dependency of opencensus on cloudevents versions.

[2021-06-16 11:52] slinkydeveloper commented on #682
The latter :) there is no plan today of removing observability, on the contrary we would love to grow observability and add support to the latest techs (like opentelemetry)

[2021-06-16 11:57] Shashankft9 commented on #682
thank you for clarifying, really helped.
Closing this issue, would open a PR in eventing with related changes.

[2021-06-16 11:57] #682 closed

[2021-06-16 15:05] lance opened #692 "HTTP Send example fails with SEGV on connection refused"
When running the program in samples/http/sender, if the sender gets `connection refused` from the sink, a SIGSEGV occurs.

[code]

The example code uses `res.IsUndelivered()` to check if the event has been delivered. Comments for `IsUndelivered()` say

[code]

It seems, `client.Send()` should be returning a plain error when getting `connection refused`, which is neither `ACK` nor `NACK`, but is no

[2021-06-18 06:48] slinkydeveloper commented on #692
Maybe @n3wscott can help you with this one?

[2021-06-23 18:38] boramalper opened #693 "How to set OpenTelemetry tracing parameters?"
I am using [Knative Eventing](https://knative.dev/docs/eventing/) and want to set [OpenTelemetry](https://opentelemetry.io/) tracing parameters (tracing ID, span ID etc.) for the event that I am sending to [Knative Eventing Broker](https://knative.dev/docs/eventing/broker/).

I thought `WithTracePropagation()` could have been helpful but it is [deprecated](https://pkg.go.dev/github.com/cloudevents

[2021-06-25 20:24] embano1 commented on #56
Just had to implement this myself, so definitely something useful. In my case I needed `basic_auth`, e.g.:

[code]

[code]

Questions:

1) is this the correct way to use `WithMiddleware()`
1) if so, I can open a PR for `MiddlewareBasicAuth` if heading in the right direction
1) which other auth schemes do we want to support?

[2021-06-30 19:14] embano1 commented on #59
Shall I take a step and create a PR with something like https://github.com/sethvargo/go-limiter (see httplimit) or rather basic using x/rate? Background: I currently need this functionality (also #56) so happy to support :)

[2021-07-09 08:16] zhaojizhuang commented on #258
@ripienaar Is there any progress in support for JetStream

[2021-07-09 08:25] zhaojizhuang opened #694 "Feature request: support jetstream in protocol"
Feature request: support jetstream in protocol

[2021-07-09 08:26] zhaojizhuang commented on #694
As mentioned in this issue https://github.com/cloudevents/sdk-go/issues/258#issuecomment-601693073

[2021-07-09 08:26] ripienaar commented on #258
Jetstream is out and released but have not had a time to revisit integrations

[2021-07-09 08:27] zhaojizhuang commented on #694
@n3wscott

[2021-07-09 08:30] zhaojizhuang commented on #694
cc @ripienaar

[2021-07-09 17:41] n3wscott commented on #694
there was a PR but it was breaking, so it did not go in, likely there needs to be a jetstream module made to do the integration

[2021-07-10 02:12] zhaojizhuang commented on #694
/assign

[2021-07-14 11:34] embano1 commented on #671
QQ: What if `NewEvent()` would do a validation against a supported set of versions instead?

[2021-07-15 16:54] #694 closed

[2021-07-15 16:54] n3wscott opened #697 "Deprecate nats and stan?"
@zhaojizhuang should we deprecate the nats and stan packages in favor of jetstream?

[2021-07-15 16:55] n3wscott commented on #690
I like the idea!

[2021-07-16 02:49] zhaojizhuang commented on #697
@n3wscott maybe we should deprecate `stan`, But `nats` should be kept. cc @ripienaar @wallyqs

[2021-07-16 05:10] ripienaar commented on #697
Yes agree let’s deprecate Stan but nats can be kept

[2021-07-16 15:41] n3wscott commented on #697
ok thanks! I will make that PR and close this issue.

[2021-07-29 21:14] kconwayinvision commented on #661
If there are folks watching this issue and not the PRs then https://github.com/cloudevents/sdk-go/pull/688 is waiting on reviews.

[2021-08-04 13:20] bluntik opened #699 "Memory leak in daemon"
Hi,
we are using client send in daemon and we have memory leak. During debug I found next
Example of code
[code]

If I sending 500 request in example in debug goruitine we will see 1000 not close gorutine 500 for read 500 for write
http://localhost:6060/debug/pprof/goroutine?debug=1

[code]

for fix this problem need to close Body.Close() https://github.com/cloudevents/sdk-go/blob/main/v2/protocol

[2021-08-11 14:56] n3wscott commented on #699
thanks! I will look into this and the linked PR

[2021-08-11 15:50] n3wscott commented on #699
I think this was fixed by https://github.com/cloudevents/sdk-go/pull/689, but we have not had a chance to make a release yet.

Could you try your test again with what is at HEAD?

[2021-08-11 18:52] n3wscott commented on #699
Ok awesome, I will wait for you to confirm and then run a release tomorrow. Thanks for the report!!

[2021-08-12 05:05] mysticmode opened #702 "nats_jetstream - Unknown revision error"
Hi,

When I try to do `go get github.com/cloudevents/sdk-go/protocol/nats_jetstream/v2`.

I'm facing this error:
[code]

I suppose, the problem is with this line - https://github.com/cloudevents/sdk-go/blob/main/protocol/nats_jetstream/v2/go.mod#L8

Could somebody guide me on this? Thanks!

[2021-08-12 07:05] bluntik commented on #699
All fine. The code from the latest main branch works as expected. All read/write goroutines are closed. No memory leak or overhead memory limit using. Thanks for fast answer, we need it release for our production using.

[2021-08-13 15:10] n3wscott commented on #699
awesome, will make a release then, thanks!

[2021-08-13 15:10] #699 closed

[2021-08-13 15:13] n3wscott commented on #702
in go, `v2.0.0-00010101000000-000000000000` means it is using the v2 of the lib, but it using the replace directive. I need to release the next version and that will unblock you. Doing that now. Thanks!

[2021-08-13 16:29] n3wscott opened #705 "Would like to see a sample of how to use the new protobuf format."
We added protobuf format support but not a sample of how to use it.

See https://github.com/cloudevents/sdk-go/pull/662 https://github.com/cloudevents/sdk-go/pull/688

[2021-08-14 00:07] mysticmode commented on #702
Sure thing, thank you! I'm closing this issue as I can see the changes in the new release.

[2021-08-14 00:07] #702 closed

[2021-08-17 17:36] kconwayinvision commented on #705
If you can outline the content you'd like to see and where in the docs you'd like to see it then I'll make a PR.

[2021-08-18 16:13] n3wscott opened #709 "SetExtension seems to override core attributes for http at least."
Test and fix. SetExtensions should not override core attributes.

[2021-08-19 16:46] n3wscott opened #711 "Track the Origin webhook header change"
https://github.com/cloudevents/spec/pull/865

If that is merged, we will have some work to keep the sdk up to date.

[2021-08-19 16:51] n3wscott commented on #705
@kconwayinvision see the other samples here: https://github.com/cloudevents/sdk-go/tree/main/samples

I would perhaps add a protobuf example in the http folder? Just a simple example (perhaps, a copy of https://github.com/cloudevents/sdk-go/blob/main/samples/http/sender/main.go) for sending and receiving events (it is best to pair them to produce a simple demo).

Thanks!!

[2021-08-23 19:29] kconwayinvision commented on #705
Here's a first draft: https://github.com/cloudevents/sdk-go/pull/712 .

[2021-08-25 13:11] joaopgrassi opened #713 "Observability service getting empty errors in the callback function"
While implementing the `ObservabilityService` interface to work with OpenTelemetry, I noticed that when errors happen during the several operations in cloudevents (`client.go` `Send` method), the callback in the observability service `func(errOrResult error)` is invoked with an empty error. Depending on the use case, developers would want to maybe mark the span created by the ObservabilityService

[2021-09-01 16:33] #713 closed

[2021-09-03 07:48] snowwolf007cn opened #716 "How to send a batch events?"
I don't find any example of using the ApplicationCloudEventsBatchJSON format to send a batch event, can anyone provide me an example?

[2021-09-14 11:12] joaopgrassi commented on #554
Hi @n3wscott, we briefly discussed on Slack the other day about adding an implementation of the `ObservabilityService` for OpenTelemetry. I have some code working and I was thinking carving it out and sending it upstream.

Since this issue is older than the PR where the abstraction was introduced (https://github.com/cloudevents/sdk-go/pull/634), I think this is what you meant by "two modules"?

I

[2021-09-14 12:33] boramalper commented on #693
@ustiugov

[2021-09-14 12:39] ustiugov commented on #693
hi @joaopgrassi, this is definitely something we would be interested in. Would be great if you could upstream that.

thanks @boramalper for bringing me into this discussion.

[2021-09-14 13:44] joaopgrassi commented on #693
Hi @ustiugov cool, I'll working on it. I feel though there's some scattered issues about this. I found this old one https://github.com/cloudevents/sdk-go/issues/554 and commented there about the sdk spec about this observability service.

[2021-09-15 23:11] n3wscott commented on #716
to be honest, I still don't know. I filed https://github.com/cloudevents/spec/issues/414 to try to understand the processing model for the sdk but was not able to get a real answer.

What are you trying to do? maybe it is time to add it.

[2021-09-15 23:13] n3wscott commented on #554
I would be so very happy if you wanted to land a module in the https://github.com/cloudevents/sdk-go/tree/main/observability directory for `OpenTelemetry`.

[2021-09-15 23:14] n3wscott commented on #693
Yes please, glad you got it working. @benmoss was also helping clear some of this up with some examples added to the sdk. Maybe Ben has more to say?

[2021-09-16 08:37] joaopgrassi commented on #554
I'm on it 😁. Will send a PR soonish.

[2021-09-16 17:09] benmoss commented on #693
With the changes I made in #708 you can propagate trace headers through with the [otelhttp middleware](https://pkg.go.dev/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp#Handler), I did this in this demo app: https://github.com/benmoss/knative-tracing/blob/main/cmd/coinflip/main.go#L60-L62

I think this is nice from a simplicity perspective, but having an ObservabilityService impleme

[2021-09-22 12:53] joaopgrassi commented on #554
@n3wscott PR is there. Hopefully it's not too big to review.

[2021-09-23 07:03] embano1 opened #718 "Add HTTP Status Code 500 to retryable status codes in default retry handler?"
In event-driven topologies, e.g. broker to function, some (many?) developers might choose a generic 500 HTTP status code in case of internal server (function) failure instead of a more precise 5xx code (e.g. 503). 500 is currently not in the list of default retryable status codes. Should we change this?

https://github.com/cloudevents/sdk-go/blob/c6de9589bb3578364689adc64414000dabe93c01/v2/protoco

[2021-09-27 13:52] wuhuizuo commented on #683
has any progress?

[2021-09-28 15:02] sravya-a commented on #683
Made some changes here:
https://github.com/sravya-a/sdk-go
I tested it locally it works as expected.
I need to add some unit tests for sender.

[2021-09-30 13:57] kconwayinvision commented on #705
I think this is mostly closed by https://github.com/cloudevents/sdk-go/pull/712.

From that PR thread, the only thing missing is an example of using the protobuf format for the envelope. I'm not able to create an example of that using the existing protocols because they either require JSON or define their own format that is specific to the protocol. For example, the HTTP transport encodes the enve

[2021-09-30 13:59] kconwayinvision commented on #661
This is ready to close.

Format support added: https://github.com/cloudevents/sdk-go/pull/662
Codec support added: https://github.com/cloudevents/sdk-go/pull/688

[2021-09-30 13:59] #661 closed

[2021-09-30 14:54] snowwolf007cn commented on #716
while we initialize a new customer to our system, we need to sync the data from their system. It'll generator billions of historic operation events. so we need to batch the job and send batch events and broadcast to other internal systems to process the customer initialize the process. Otherwise, other systems have to receive the events one by one, and the downstream have to initialize a lot of co

[2021-10-01 21:28] #554 closed

[2021-10-04 08:52] embano1 commented on #716
So just to understand this:

- The SPEC [defines](https://github.com/cloudevents/spec/blob/v1.0.1/json-format.md#4-json-batch-format) the format
- The SDK currently does not support batching?

[2021-10-06 10:57] ustiugov commented on #693
@benmoss thanks a lot for your response! this seems very useful and easy to use. do you know what is the minimal version of otelhttp that supports it?

[2021-10-06 13:25] benmoss commented on #693
@ustiugov it looks like it's been in since 0.12.0 https://pkg.go.dev/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp@v0.12.0

[2021-10-11 14:55] embano1 opened #721 "`go test` fails in TestTime"
Not sure why this is not popping up in the Github Actions unit tests and why things have changed here that makes this fail. Hence reporting before failing a PR:

[code]

[2021-10-13 09:29] skymeyer opened #723 "Pub/Sub ordering key support"
See https://cloud.google.com/pubsub/docs/ordering#go

[2021-10-13 15:38] JCzz opened #725 "CloudEvents/sdk-go - does Github support CloudEvents"
I was hoping to be able to use [CloudEvents][1] using Github Webhooks.

I am using the [sdk-go][2] but nothing comes through, maybe it does not work with Github?

    func receive(event cloudevents.Event) {
    	// do something with event.
        fmt.Printf("%s", event)
    }

    func main() {
    	// The default client is HTTP.
    	c, err := cloudevents.NewClientHTTP()
    	if err != nil {

[2021-10-13 21:25] grant opened #728 "Unmarshal CloudEvent Data of Type"
We'd like to register a CloudEvent with a specific data struct to be unmarshalled when receiving the event.

https://github.com/cloudevents/sdk-go/blob/7fe4b6a59cd9963cfc9430d1df0770d22dc1745d/v2/event/event_data.go#L71

i.e. a user-defined struct rather than a `[]byte`.

---

Example ideal usage (rough code):

[code]

Is there some way we can achieve this interface?

[2021-10-14 21:26] grant opened #729 "Enable Trace Propagation"
It looks like the Go SDK doesn't have any ability to propagate the `traceparent` HTTP header to the CE SDK client.

https://github.com/cloudevents/sdk-go/blob/7fe4b6a59cd9963cfc9430d1df0770d22dc1745d/v2/alias.go#L104

---

The functionality here (from https://github.com/cloudevents/sdk-go/pull/309) looks like it has been removed in v2. Is that true?

Is there any way for a developer to propagate t

[2021-10-15 12:05] JCzz commented on #725
Right, I did look at the knative github-source and found image source for
`gcr.io/knative-releases/knative.dev/eventing/cmd/event_display
here
`https://github.com/knative/eventing-contrib/blob/main/cmd/event_display/main.go`

I don't see any errors, and I have something working using `application/json` as content type and using a Type struct from `https://github.com/google/go-github `

But I would

[2021-10-15 12:47] #725 closed, assigned to nobody

[2021-10-22 03:50] n3wscott commented on #729
See the samples for how to use the new trace config.

[2021-10-22 03:55] n3wscott commented on #718
I think we did not add 500 because we assumed if it 500'ed on one, it likely will 500 on the next try.

[2021-10-22 03:57] n3wscott commented on #716
The go sdk does not support batching because I don't understand how to support it at the client layer, and the spec does not want to define what the client layer should do. I am in a pickle.

I could make the sdk support creating them but I really don't know what to do on the go-sdk client receive side (from the perspective of the client).

[2021-10-22 12:45] embano1 opened #732 "With `v0.2.6` release injected logger is not used anymore"
Given the following code:

[code]

With SDK version `v0.2.5` it prints:

[code]

With SDK version `v0.2.6` it prints:

[code]

Instead of using the injected logger (via `ctx`), the `fallback` logger is used.
IMHO this is a regression, caused by https://github.com/cloudevents/sdk-go/pull/708 perhaps? cc/ @benmoss

[2021-10-22 17:12] #732 closed, assigned to nobody

[2021-10-26 17:24] #723 closed, assigned to nobody

[2021-11-02 18:12] n3wscott commented on #729
If you look at the spec you linked, you will see that `traceparent` and `tracestate` are cloudevent attributes and the SDK will ignore protocall specific headers like `traceparent` as in that binding format the header should be `ce-traceparent`.

I think the SDK is working as the upstream cloudevents spec intends.

[2021-11-02 18:15] n3wscott commented on #718
note you can change this if the SDK's defaults are not working for you: https://github.com/cloudevents/sdk-go/blob/5d1b1734bf73d587a6eac47bd3615b4b4e976e52/v2/protocol/http/options.go#L268-L279

[2021-11-02 18:32] grant commented on #729
Thanks for the reply @n3wscott.

From my understanding, the W3 specification for tracing specifies the header to not include the `ce-` prefix.

https://www.w3.org/TR/trace-context/#header-name

That is what our client sends as well.

The trace example has both `ce-` and non `ce-` headers, confusingly.

Because of the w3 spec, HTTP servers that follow that spec may provide the tracing header but no

[2021-11-07 16:59] infinipalex opened #734 "Async invocation of invoker.Invoke can lead to out of order processing of events"
For example, when processing Kafka messages partitioned by key due to some ordering constraints, the order can not be guaranteed when invoking `invoker.Invoke` in goroutine, StartReceiver function (client/client.go):

...
go func() {
  if err := c.invoker.Invoke(ctx, msg, respFn); err != nil {
  ....
  }
}()

[2021-11-08 12:39] RafalSkolasinski opened #735 "How to properly set Content-Encoding?"
We are using cloudevents/sdk-go (v1.2.0) to forward payloads to our request logger.

Triton server recently (sometime between 20.08 and 21.08) started to respect `Accept-Encoding` header and now returns `gzip` encoded payloads.  This is indicated by the `Content-Encoding` with `gzp` value in response headers.

For our request logger to properly understand that payload we need to add this header to

[2021-11-09 03:07] n3wscott commented on #735
I _think_ the http net libs will just do this automatically for us here. If the client gets a gzipped payload, it should unzip it and then the normal processing should continue working.

I don't recall the exact version, but we tried to remove the separation between the data and the content type. So we introduced a new method for setting data *and* content type at the same moment: https://github.c

[2021-11-09 03:10] n3wscott commented on #734
Oh interesting. Yes this is very true. The SDK is written assuming no order guarantees. As this code is inside the client, the client is not aware of ordering from the protocol, and the other protocols do not care to make claims to ordering.

Is this something that you need tighter control over? And if so, how might you want this to look?

[2021-11-09 03:22] n3wscott commented on #729
Personally, I think the extension handler should work in the way you are asking.

I agree.

I think we could change how known extensions are handled in the sdk. Let's noodle on this:

- If `traceparent` exists and `ce-traceparent` does not, propagate `traceparent` to `ce-traceparent`
    - I think this could be wrong because if you are attempting to trace an http invoke between two points, that in

[2021-11-09 07:13] infinipalex commented on #734
Thank you for swift response! Yes, I think it crucial for me since it breaks the events order (also it removes ability to create "back pressure"). On the other hand, there are applications that don't require strict event ordering and current behavior is desirable. So, for example, after introducing additional option like "sync response invocation" for client configuration, SDK users can have full

[2021-11-09 16:09] n3wscott commented on #734
I wonder if this is a case where you need to take over what the client is doing and use the protocol directly. Take a look at another integration with the kafka protocol from this sdk that does not use the client: https://github.com/knative-sandbox/eventing-kafka/blob/21cca6622c242bb4e95f27471f1f9d3b78fc7701/pkg/source/adapter/message.go#L36

[2021-11-09 16:10] n3wscott commented on #734
I think we can also take a look at `sync response invocation` in the client. In the mean time, direct control over the protocol might unblock you until we can noodle on in-sync blocking clients.

[2021-11-10 12:30] irejanodev opened #736 "Implement pubsub subscription filter"
We are using cloudevents SDK with pubsub. It would be nice to implement subscription filtering as `cloud.google.com/go/pubsub` does. Refer to https://pkg.go.dev/cloud.google.com/go/pubsub#SubscriptionConfig

[2021-11-16 16:41] dan-j opened #738 "Implement SendCloser on gochan.Protocol"
I'm using the `gochan` protocol for some internal processing of events. I've built a series of `cloudevents.Client` like so:

1. Client `#1` listens on HTTP for events
2. For each event received on `#1` we send to client `#2` using a `gochan.Protocol` sender.
3. Client `#3` is receiving from the same `gochan.Protocol` used in `#2`
4. For each event received on `#3` we send to another client `#4` w

[2021-11-17 08:02] abhradeepkundu opened #739 "OptionsHandlerFn is set to DeleteHandlerFn in WithDefaultOptionsHandlerFunc"
https://github.com/cloudevents/sdk-go/blob/1170e89edb9b504a806f2c6a26563c3c26b68276/v2/protocol/http/options.go#L251

Can you please explain why `OptionsHandlerFn` is set to `DeleteHandlerFn` in `WithDefaultOptionsHandlerFunc`

Thanks in advance

[2021-11-17 16:31] n3wscott commented on #736
The PR from yesterday did this, correct?

[2021-11-17 16:31] #736 closed

[2021-11-17 16:32] n3wscott commented on #739
It is a bug! ack!!

Want to fix?

[2021-11-17 16:33] n3wscott commented on #738
Sounds good to me, want to make a PR and ping me?

Glad you are getting use out of that implementation!! Let's make it work as you need it!!

[2021-11-17 16:37] dan-j commented on #738
Yeah, I'm using it to expand a single received event into multiple events and getting the benefit of it all being asynchronous; it's quite handy!

[2021-11-18 03:53] abhradeepkundu commented on #739
Yes definitely.

But in our code we did set it after I receive the protocol object which solves the problem indirectly....
e.g,
`p, err := cloudevents.NewHTTP(cloudevents.WithDefaultOptionsHandlerFunc([]string{"POST", "OPTIONS"}, 100, []string{"*"}, true))

	p.OptionsHandlerFn = p.OptionsHandler`

[2021-11-19 09:47] embano1 opened #740 "Selective `isRetriableFunc` in `cecontext`"
This was discussed in https://github.com/knative/eventing/issues/5884 as one solution to make `isRetriableFunc` and custom status codes configurable on a per request basis via `cecontext.WithRetryParams`. This is helpful in at least two scenarios:

a) When one does not have control over the (injected) CE client
b) When one wants to overwrite retry strategy for status codes on a per request basis,

[2021-11-22 09:08] embano1 commented on #718
Thx Scott. Sorry for the confusion as the question was actually about changing the defaults to include `500`. Will close this one for now since we have a separate thread going on in `knative` to establish certain retry standards there, using `kncloudevents.SelectiveRetry`.

[2021-11-22 09:08] #718 closed

[2021-11-25 13:15] odacremolbap opened #742 "CE HTTP: keep request data at the context"
The HTTP CE Client for receiving requests is designed to be used like this:

[code]

I would like to have more information on the received request at the CloudEvent client to be able to create multi-tenant clients. That would be:

[code]

For this to happen the request or a subset of their data should be added to the context before the switch here:

https://github.com/cloudevents/sdk-go/blob/1170e

[2021-12-06 22:15] v3n opened #744 "Interoperability issues due to proto inconsistencies between spec and language-specific SDKs"
Hi, we've run into a fairly high severity issue using CloudEvents with Go.`go-sdk` uses a different Protobuf descriptor from the descriptor defined in the spec and other SDKs.

We're developing on top of Cloudevents in a mixed language ecosystem (primary Java & Go, using Protobuf as our schema and interoperability layer. Producers use the HTTP protocol to a collection, which outputs to the Kafka b

[2021-12-06 23:57] n3wscott commented on #744
Thanks, will take a look.

[2021-12-07 09:06] rahulchheda opened #745 "Need to wrap `sarama.AsyncProducer` for tracing (OpenTelemetry/Datadog)"
I need to wrap the `sarama.AsyncProducer`, which is an un-exported field in `Sender` struct.
Is this possible to do?

[2021-12-07 16:41] n3wscott commented on #745
We typically have wrapped the `Sender` and pull metrics off of the `Sender` api. See the metrics folder  https://github.com/cloudevents/sdk-go/tree/main/observability/opentelemetry/v2

Now, if this is not going to work for you, I would like to know and we can work out a way to make this work for your use-case. Thanks!!

[2021-12-07 16:48] n3wscott commented on #742
Originally the SDK did something like this but it was not very reliable for the other protocols. But I still think it might be ok to add additional values in the context of the message (here https://github.com/cloudevents/sdk-go/blob/1170e89edb9b504a806f2c6a26563c3c26b68276/v2/protocol/http/message.go#L75-L76) and you can probe for them in the invoked receiver (which is what I think you are wantin

[2021-12-07 16:49] n3wscott commented on #740
Sounds good, want to work a PR? There is already precedent for this kind of per-request customizations for the headers.

[2021-12-07 17:59] odacremolbap commented on #742
Yes, that would be perfect. If I am undertanding that right that would be

[code]

so that I can do later something like

[code]

Looking at it it doesn't feel great passing the body reader and letting users mess with it but we can always TeeRead it if that's a concern.

[2021-12-07 21:03] rahulchheda commented on #745
So, I need to use Datadog's APM i.e: https://github.com/DataDog/dd-trace-go/blob/v1/contrib/Shopify/sarama/example_test.go.
How can I use this w/ `cloudevents`?

[2021-12-08 07:47] joshianiket22 opened #746 "Unable to recieve events with jetstream on nats-server version 2.6.6"
I'm not receiving any events with Jetstream receiver. My cloudevents sdk-go version is 2.6.1 and my nat-server version is 2.6.6 which i recently upgraded to.

I was able to receive events earlier before i upgraded my nat-server version from 2.2.6 to 2.6.6. So its the version issue or it might be the version of the nats client driver that is being used. Also there is nothing returned from the Start

[2021-12-08 12:32] embano1 commented on #740
Happy to work on a PR, though how do we make this protocol-independent? I.e. status codes only make sense for the HTTP `protocol` implementation.

Alternatively, and this is what you might be referring to, adding this functionality to the `http` protocol implementation, similar to [headers](https://github.com/cloudevents/sdk-go/blob/c80789d5488a078e05dc0db1a05f6562aca8168c/v2/protocol/http/headers

[2021-12-08 15:25] joshianiket22 commented on #746
I figured out that the problem is with the **ConsumerOption** that we pass when creating a new consumer. If we don't pass this option we are able to receive events without any issues, But then we don't have a Queue group created.

[2021-12-08 15:42] dan-j commented on #746
Hi @joshianiket22, could you provide some sample code of what does and doesn't work, and describe what type of consumer you're trying to create in NATs-terms, i.e. durable/queue group/standard consumer etc.

If you can provide this I'll try and take a look

[2021-12-08 16:09] n3wscott commented on #745
Oh yes I see, you need to be able to wrap the producer directly...

[code]

ok! let's take a look here.

[2021-12-08 16:19] n3wscott commented on #745
Oh hey, looks like if you make the producer directly you can make this work with the cloudevents lib via https://github.com/cloudevents/sdk-go/blob/c80789d5488a078e05dc0db1a05f6562aca8168c/protocol/kafka_sarama/v2/sender.go#L45, example:

[code]

this example was me combining https://github.com/DataDog/dd-trace-go/blob/v1/contrib/Shopify/sarama/example_test.go and https://github.com/cloudevents/sd

[2021-12-08 16:22] n3wscott commented on #746
@joshianiket22 I will be honest here and say I don't know much about NATs but I want it to work. Let's get this sorted out and maybe @dan-j can magic up some better way to create a client.

Sound good @dan-j ?

[2021-12-08 16:27] n3wscott commented on #742
We can't pass the request because of the reader as you mention. It ends up with EOF exceptions because something else ends up closing that body reader. The full body of the cloudevent should be captured by the cloudevent message, so we should be good there. I think you need maybe the following:

- req.URL
- req.Headers
- req.Host
- req.RemoteAddr

I think that might be the useful safe request fiel

[2021-12-08 16:29] n3wscott commented on #742
The way I would do this is I would make a context helper in the cloudevents http package, make a new struct with these fields, copy them over before leaving the serve http method into the context using the helper context method.

Then in your code you can take a context in the receive function and probe the context for the http request context struct, keeping in-mind that it might not be there if

[2021-12-08 16:34] n3wscott commented on #740
Yes exactly!! The headers are in http just because headers in NATs don't make a ton of sense, but there are other context injectables that are selectively used by the protocols defined v2/context. Though it looks like retry is already there. I see what you are saying, we need to add some code in the protocols to support overwriting at request time.

That makes sense! We might need a new context he

[2021-12-08 18:22] odacremolbap commented on #742
sure thing!

[2021-12-08 18:37] rahulchheda commented on #745
Got it, thanks @n3wscott.
Closing this one out. :)

[2021-12-09 16:07] #742 closed

[2021-12-09 17:19] joaopgrassi commented on #729
Hey @grant! A while ago, I worked on adding [OTel support for the Go SDK on HTTP](https://github.com/cloudevents/sdk-go/tree/main/observability/opentelemetry/v2).

Yes.

The OTel Go offers auto-instrumentation for HTTP: https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation/net/http/otelhttp. So, if you use their "wrapper" around the transport and the middleware handl

[2021-12-09 17:54] joaopgrassi commented on #729
I should add that the sample you linked https://github.com/cloudevents/sdk-go/blob/main/samples/http/receiver-traced/main.go is using the "old" opentracing instrumentation. You might consider using OpenTelemetry which is the merge of OpenTracing and OpenCensus.

Another thing is that by using the HTTP auto-instrumentation from OpenTelemetry, you only get insights into transport spans. So you will

[2021-12-09 20:27] grant commented on #729
Thanks a bunch.

I also found this sample, which is very useful.
https://github.com/cloudevents/sdk-go/blob/main/v2/extensions/distributed_tracing_extension.go

Will continue to test things on my side.

[2021-12-10 03:42] joshianiket22 commented on #746
Looks like the version issue was on my end, I apologize. After upgrading everything works smoothly.
I really appreciate and thank you for reaching out to help me on this @dan-j & @n3wscott :)
We can close the issue.

[2021-12-27 17:09] #685 closed

[2022-01-07 15:53] #746 closed

[2022-01-10 13:01] aruiz14 opened #751 "Retries don't work for HTTP POST resquests with a body"
I'm using Tekton and I believe I've found a bug in this library, since it's used for sending [CloudEvents based on Kubernetes events](https://github.com/tektoncd/pipeline/blob/1f5980f8c8a05b106687cfa3e5b3193c213cb66e/pkg/reconciler/events/cloudevent/cloud_event_controller.go#L144). By default, it uses the ExponentialBackoff retry strategy.

I modeled the sink to respond with a retriable HTTP statu

[2022-01-17 08:22] rahulchheda commented on #745
@n3wscott So, this worked for wrapping up Producer, any ideas about wrapping `Consumer` w/ this?

[2022-01-17 20:11] owenhaynes opened #752 "Open Telemetry spans propegration"
Trying to get the OpenTelemetry ObservabilityService working with PubSub.

From what I can tell you have to call
[code]
before sending an event and then call
[code]
on the the receiver of the events for the propagation to work.

This causes a side affect of the RecordCallingInvoker span not being part of the trace.

Not calling ExtractDistributedTracingExtension prevents the propagation from worki

[2022-01-18 19:21] n3wscott commented on #751
oh interesting. Thanks for the report!

[2022-01-18 22:56] n3wscott commented on #745
I am not 100% sure, but I think you use this: https://pkg.go.dev/go.opentelemetry.io/contrib/instrumentation/github.com/Shopify/sarama#WrapConsumer

[2022-01-19 06:37] rahulchheda commented on #745
So, I tried this, but actually I need a cloudevents Consumer instance rather than sarama consumer, and I can create a new cloudevents consumer w/ sarama consumer

[2022-01-20 17:56] n3wscott commented on #744
OK! the correct proto file is here and we need to copy it down.

https://github.com/cloudevents/spec/blob/v1.0.1/spec.proto

[2022-01-21 15:27] jskeet commented on #744
@n3wscott: Note that that proto is slightly out of date - it doesn't include batch support (and doesn't have a csharp_namespace option, although that shouldn't affect go). The most up-to-date one is at https://github.com/cloudevents/spec/blob/main/cloudevents/formats/cloudevents.proto - I'm expecting to use that as the basis of the GA version in 1.0.2 assuming the vote passes.

[2022-01-21 19:43] zach-robinson opened #759 "Differing Interpretations of Protobuf Spec in Java and Go SDKs"

[2022-02-08 07:28] rriolobos opened #753 "PubSub subsequent messages not properly ordered by key"
https://github.com/cloudevents/sdk-go/blob/7601392008ad787e9f27cf1d7898ff14fef1b236/protocol/pubsub/v2/protocol.go#L233

I tested pubsub ordering key with this library but I found an issue. When you send 3 or more messages, with same ordering key, receiver only waits for first one, second and third messages are consumed concurrently. I added a 5 second sleep in message handler in order to check th

[2022-02-08 09:51] skymeyer commented on #753
@rriolobos I have updated your sample code a bit to try to reproduce and created two samples:

- [Without ordering](https://gist.github.com/skymeyer/14d6e45321574241d50647b2f03fb3b4#file-pubsub-no-order-main-go) --> [output](https://gist.github.com/skymeyer/14d6e45321574241d50647b2f03fb3b4#file-pubsub-no-order-output-txt)
- [With ordering](https://gist.github.com/skymeyer/14d6e45321574241d50647b2f

[2022-02-08 12:49] rriolobos commented on #753
Hi @skymeyer,

First of all thanks for your answer.

You are right, I mean, when I set MaxOutstandingMessages=1 messages are properly ordered. In fact, all messages are ordered, both for same key and different one. Let's try with an example:
Let's imagine every message is process in 5 seconds and prints 2 logs: start message 5s -> end message
Imagine we have the following sequence without setting

[2022-02-09 15:59] pingsutw opened #754 "Could we expose sdkToProto function"
I want to convert the CloudEvent object to CloudEvent proto, but the SDK doesn't expose this [function](https://github.com/cloudevents/sdk-go/blob/a302fc5e5e6a462237f6166905c725921d4da131/binding/format/protobuf/v2/protobuf.go#L76).
I've to do the following steps to get proto.

[code]

is there any other way to convert the object to a proto?

[2022-02-11 16:54] pingsutw opened #755 "Feature request: Send cloud event to AWS sns"
It seems like we can only send the event to the Google pub/sub service. any plan to support Aws sns service as well?

[2022-02-11 20:58] n3wscott commented on #755
There is no AWS SNS bindings spec for CloudEvents, so we are not able to support it. There has been talk in the main group but so far no one has stepped up to support maintaining that spec.

[2022-02-11 22:52] n3wscott opened #756 "Client hangup when using Receivers vs Responders type functions."
Hitting a problem using the non-responding function signatures like:

[code]

This signature is a "receiver" type, meaning it only receives, no response. There is some logic differences between "Receive" and "Response" as seen here: https://github.com/cloudevents/sdk-go/blob/main/v2/protocol/http/protocol.go#L237-L281 mainly, there should be no need to block on the invoke handler for a "Receive" s

[2022-02-11 23:06] n3wscott commented on #756
To work around this for now, you can convert your existing method to "respond" with `error`.

From
[code]

To
[code]

[2022-02-12 03:54] n3wscott commented on #756
More testing have shown that if the sender does not hangup, the receiver continues to process as expected.

So this is not a valid work around, and I am unable to reproduce the error I am seeing with simple code from the SDK alone. So there might be some other interaction on one of the layers I am using.

Will continue to research this issue.

[2022-02-14 21:04] n3wscott commented on #756
Unable to reproduce using the SDK.  Receiver style methods hold the caller open until return regardless of returns or not.

closing.

[2022-02-14 21:04] #756 closed, assigned to nobody

[2022-02-15 08:52] bincx opened #757 "Feature request: disable event validation"
Let's say that I would like to handle invalid events that do not conform with specification in my own receiver function.
Is it possible to add a feature toggle to disable validation in Invoke?
[code]
The problem I'm trying to solve is to send ack even for invalid events received from kafka.

[2022-02-15 23:01] n3wscott commented on #757
I see two ways to go about this,

1- use the bindings and protocol directly without the client.

2- There used to be a way to recover from malformed events, it was a function you would register with the client and you could return back a correctly formatted event or nil and it would do what you want: ack the upstream.

Which of these options would best solve your problem? I am not sure it is a gre

[2022-02-17 09:29] bincx commented on #757
Is there any example how to implement the second option?

Thanks

[2022-02-17 17:55] duglin commented on #759
Move to the sdk-go repo per the 2/17/2022 call.

[2022-02-17 18:24] embano1 opened #760 "URI Validation fails to catch invalid relative `Source` URI"
CE SDK Spec for `source` is defined as:

`URI` - Absolute uniform resource identifier.
  - String encoding: `Absolute URI` as defined in
    [RFC 3986 Section 4.3](https://tools.ietf.org/html/rfc3986#section-4.3)

To quote from the RFC:

[code]

Though this invalid URI passes the SPEC validation in the SDK:

[code]

https://github.com/cloudevents/sdk-go/blob/9f80fd3a004fcabea03987db1fdfcb324deef14

[2022-02-24 23:05] danieltmartin commented on #692
I noticed this too - the connection refused is wrapped in a`Receipt` here: https://github.com/cloudevents/sdk-go/blob/9f80fd3a004fcabea03987db1fdfcb324deef14e/v2/protocol/http/protocol_retry.go#L38

`IsUndelivered` checks if it's an ACK or NACK via `errors.Is` which checks the `ACK` boolean: https://github.com/cloudevents/sdk-go/blob/9f80fd3a004fcabea03987db1fdfcb324deef14e/v2/protocol/result.go#L

[2022-03-11 10:57] costap opened #761 "Expose cloudevent proto in non-internal package to support receiving protobuf events over gRPC"
The use case is writing a gRPC service that accept cloud events in protobuf format, using the sdk-go to generate and parse events.

E.g.
gRPC proto definition
[code]
e.g. proto data
[code]
server code:
[code]
Client code:
[code]

At the moment this is not possible as cloudevent proto is inside an internal package, would be possible to expose it or some other way to achieve the same?

[2022-03-22 01:02] sbgreene1307 opened #762 "HTTP Send results in IsUndelivered true for non-2XX responses"
### Expected Behaviour
When invoking [cloudeventshttp.Send](https://github.com/cloudevents/sdk-go/blob/main/v2/protocol/http/protocol.go#L142) non-2XX responses should come back as a ResultNACK.

In [v2/protocol/http/protocol_retry.go](https://github.com/cloudevents/sdk-go/blob/main/v2/protocol/http/protocol_retry.go#L42-L46) all non-2XX responses result in a ResultNACK which should come back as t

[2022-03-22 23:59] sbgreene1307 commented on #762
Sure, I thought the integration test dir would be a good spot for this. I had a little trouble tying into the current implementation to trigger a different response code, if you know of how it can be done with the TapHandler I'm all ears.

This at least demonstrates the issue, I can rework anything as necessary.
https://github.com/cloudevents/sdk-go/pull/763

[2022-03-31 16:02] #762 closed

[2022-04-01 08:27] salaboy opened #766 "Question, maybe add to documentation request: HTTP request to CloudEvent"
Team, a bit of a newbie question, but I couldn't find the answer in the docs and maybe other people will have the same issue.
Is there any simple way to transform an incoming HTTP request to a CloudEvent and fail with an error if the request doesn't contain the correct headers to be a CloudEvent?

I am looking for something along the lines of `cloudevents.NewEvent(req)`, but I understand that this

[2022-04-01 12:01] duglin opened #767 "CLOMonitor metadata"
See: https://clomonitor.io/projects/cloudevents/cloudevents
Can we get the appropriate updates so that the CLOMonitor tool is happy?
More info on CLOMonitor checks: https://github.com/cncf/clomonitor/blob/main/docs/checks.md

[2022-04-01 12:07] dan-j commented on #766
Feel free to create a PR with some documentation where you'd expect to see it within the `docs/` directory. I believe you could do something like this:

[code]

[2022-04-02 08:49] salaboy commented on #766
@dan-j thanks for sharing that example, that is really helpful. But I wonder what is your opinion on making that simple and more intuitive for users, meaning something like:

[code]
This is just encapsulating the code that you shared...

I am happy to send a PR for this, if the team behind the SDK think this is a good or OK idea :)

Cheers

[2022-04-03 04:01] majelbstoat commented on #757
Came here with a similar issue. I have a client that uses the http protocol to receive cloudevents from a pubsub push. (I have a custom Format to handle the "application/json" that pub-sub sends.)

If any kind of malformed event gets into the pubsub topic, and my format.Unmarshal() returns an error, cloud run reports a 500, but pubsub will continue to send it infinitely. It's hard to trace exactly

[2022-04-06 16:32] n3wscott commented on #766
What to add a PR for this utility method?

[2022-04-07 13:03] duglin commented on #767
Looks like we're just missing a MAINTAINERS file:
![image](https://user-images.githubusercontent.com/1944671/162205154-5274980d-dcb8-47c4-8ca5-093d93fed444.png)

[2022-04-20 16:00] n3wscott commented on #767
ok will add.

[2022-04-20 21:46] #767 closed

[2022-04-25 14:18] sghung commented on #759
Any update on this issue?

[2022-05-07 23:21] smilence-yu opened #770 "CE receiver client does not have option to make callback a blocking call"
https://github.com/cloudevents/sdk-go/pull/574 changed the behavior of the CE v2 client so the callback `fn` is always asynchronous ( one go routine is spawn for each event ).

https://github.com/cloudevents/sdk-go/blob/main/v2/client/client.go#L251-L258

This indeed addressed https://github.com/cloudevents/sdk-go/issues/569 but also made any of the following use cases a lot trickier.

1. Don't wa

[2022-06-01 09:34] ernest-ag5 opened #772 "Unexpected duplicate id field in JSON formatted event"
[code]

results in
[code]

version:  github.com/cloudevents/sdk-go/v2 v2.6.0

I think using an extension name that matches a standard field should be detected as an error (FieldErrors).
However, others formats may not have this issue.

[2022-06-01 20:58] n3wscott commented on #772
Ah, yes. Thanks for the report. Will look at this.

[2022-06-02 14:46] embano1 commented on #761
Sorry if I'm misunderstanding, but what goes against using the official CE `proto` file? https://github.com/cloudevents/spec/blob/main/cloudevents/formats/cloudevents.proto

[2022-06-02 14:53] embano1 commented on #772
Should be resolved, see https://github.com/cloudevents/sdk-go/pull/720 (added in `v2.7.0`)

[2022-06-02 16:41] n3wscott commented on #772
Oh thanks @embano1 !! I thought it had been fixed but was having a hard time proving it.

Fix: update to `v2.7.0`+

[2022-06-02 16:41] #772 closed

[2022-06-03 16:17] embano1 opened #773 "`req.Body` not reset in `doWithRetry`"
# Scenario:

When using a `net/http` HTTP server as remote/receiver (instead of the receiver from this package), `ceClient` has issues when retrying a non-successful HTTP response.

Error: `"msg":"Invalid result type, not HTTP Result: Post \"http://always-fail.default.127.0.0.1.sslip.io\": http: ContentLength=34 with Body length 0 (type: *protocol.Receipt)"}`

This happens when the remote server r

[2022-06-07 21:40] embano1 commented on #773
Sure, I just need to dig a little deeper as there might be another anomaly in the way requests are handled. Not sure I get the full picture yet.

[2022-06-08 15:50] embano1 commented on #773
Update:

I can reproduce the issue with `net/http` the following handlers:

[code]

[code]

The second handler does not always show the `http: ContentLength=34 with Body length 0` `*url.Error`, but I managed to catch it several times with a debugger.

I was also able to catch it once using the `cloudevents` receiver and a simple event handler:

[code]

Still not sure where and how it gets triggere

[2022-06-09 16:12] astelmashenko opened #775 "NATS protocol pass tracing headers to message"
Hi Community,
I'm working on the next problem: Here is a problem I have https://groups.google.com/g/knative-users/c/y71GpLJR2X4
In short: HTTP server receives requests and pass them to NATS Streaming Server. An http request has tracing headers (x-b3-*) and I would like to propagate them into NATS message.
I see there is nats protocol support, but it does not propagate tracing headers. Could you pl

[2022-06-10 14:58] #773 closed

[2022-06-15 11:07] astelmashenko commented on #775
Not relevant, sorry

[2022-06-15 11:07] #775 closed

[2022-06-28 01:33] ghstahl opened #780 "Question: Only one usage of each socket address (protocol/network address/port) is normally permitted."
Windows 11:

I am doing a load test and am getting the following error:
Only one usage of each socket address (protocol/network address/port) is normally permitted.

My naive implementation is taken right from your readme.md
where I create a new client per request.
[code]

I have tried to cache the http.Client and use.
[code]
where my client has a ptr to the transport.

I have tried caching the Ro

[2022-06-30 16:12] n3wscott commented on #780
@slinkydeveloper created the loadtest, maybe he can weigh in here?

[2022-07-12 20:16] agriess opened #782 "Json Unmarshaller ignores error around reading 'data' when 'datacontenttype' is invalid"
Using: github.com/cloudevents/sdk-go/v2 v2.10.1

This issue seems to be affected by the ordering of cloud event attributes in a json http request. When the 'data' attribute is before the  invalid 'datacontenttype' attribute, an error is not returned and the resulting cloud event is missing its data. This can be observed in the following unit test

	import (
		"github.com/cloudevents/sdk-go/v2/even

[2022-07-18 10:41] wenfengwang opened #783 "The sender can't get the error message from receiver"
Hi `sdk-go` community, I started a receiver like:
[code]
but the sender can't get the error message:
![image](https://user-images.githubusercontent.com/9766821/179494617-a976cdaa-c83b-4a81-b36b-6f2866a9b779.png)

and I found in https://github.com/cloudevents/sdk-go/blob/main/v2/protocol/http/protocol.go#L366, that only `StatusCode` be used, but `Format` and `Args` are ignored.
![image](https://use

[2022-07-18 15:22] n3wscott commented on #783
Seems like a bug, want to fix?

[2022-07-18 16:50] n3wscott commented on #782
I would expect this error:

[code]

from https://github.com/cloudevents/sdk-go/blob/main/v2/event/datacodec/codec.go#L63-L68

So likely, there is no data in the bytes between 1 and 2 in the demo above, but I would expect it to throw an error.

Could you look into why you are not getting the error on https://github.com/cloudevents/sdk-go/blob/main/v2/event/datacodec/codec.go#L77, there is no codec

[2022-07-19 18:03] n3wscott commented on #759
Apart from the confusion around a json string, I think this thread came to the wrong conclusion. I think the go sdk is doing this correctly.

in the original question, it has this example:

[code]

Which claims the java impl puts the json output into the proto data string. But I think this is incorrect, the output of marshaling a json object is not a string, it is a byte array. Casting to a string

[2022-07-19 23:00] JemDay commented on #759
Has somebody tried verifying the behavior using the test files from the Java SDK.... you should be able to create a protobuf object from the proto-json (and that's a photo encoding NOT a CloudEvent encoding) representation and then demarshalling it using the GO SDK.

The various photo wire-level representations are here : https://github.com/cloudevents/sdk-java/tree/master/formats/protobuf/src/tes

[2022-07-20 12:22] wenfengwang commented on #783
OK, I will submit a PR to fix this.

[2022-07-20 16:34] duglin commented on #759
@n3wscott wrote:

Scott - I'm wondering if comparing this to how things work for HTTP would help find the right answer. In HTTP, how do the SDKs deal with an HTTP body of:
[code]
if a) content-type==app/json
and b) content-type==text/plain  ?

Do both result in the same thing (json object vs just string) ?

[2022-07-20 16:37] n3wscott commented on #759
it would be an empty json object.

it would be the string "{}"

[2022-07-20 16:41] duglin commented on #759
In that case, wouldn't:
- datacontenttype=`app/json`
- text_data=`{}`

result in a JSON Object not a string as you suggest?

(I edited my previous comment)

[2022-07-20 16:43] n3wscott commented on #759
The simpler answer for your original question:

it is invalid and the parser will throw an error. A smart parser will read in the body as the content type (string) and then will not know how to parse as json (bytes)

[2022-07-20 16:49] n3wscott commented on #782
Interesting, I will investigate. Thanks for the issue report!

[2022-07-20 16:51] JemDay commented on #759
That's exactly the expected behavior if you were to switch the _datacontenttype_ in the Protobuf examples.

I'm a bit lost now as to whether we're talking purely about JSON over HTTP or JSON over a Protobuf encoded CE :-(

[2022-07-20 16:52] duglin commented on #759
But you're assuming a JSON parser only takes binary data. That's not true for all languages. I'm looking at some Java samples and they all seem to assume it's a string - which is a fair assumption given JSON is a stringified format.

I guess it depends on whether the use of text_data and binary_data should override the datacontenttype attribute or not. I was assuming it wouldn't.

[2022-07-20 17:00] n3wscott commented on #759
I am not so sure, because how do I send the string `"{}"`?

I think if the proto gives me a string, and the content type is app/json, I should see that as a json string, and not try to cast it back to a byte array and then parse it.

As @JemDay is suggesting, if I get a proto text data as `"{}"`, it will be parsed as a json string of `{}`, popping off one level of quotes.

I am saying we should se

[2022-07-20 18:35] duglin commented on #759
based on previous comments, I think:

is the point of disagreement. When a string is serialized in json, (per json.org) it starts with quotes so I'm not sure why we would remove the quotes when we put it into proto - it's part of the business data/payload. W/o it you can't tell if `1.5` is a string or a number. Taken from the JSON format samples:
[code]
absence or presence of quotes around the `1.

[2022-07-20 21:00] n3wscott commented on #759
I would say it is the string "1.5" because it is formatted as a string. If you want that to be the number `1.5`, but the bytes in the binary field. If it is json encoded, it will be `1.5`

[2022-07-20 21:04] n3wscott commented on #759
I think the larger misunderstanding here is thinking proto.text_data is equivalent to the body of http, and it is not. We get access to the proto.text_data _after_ the wire encoding has been interpreted. text_data is a string. Proto has an extra step we should respect in the type system.

[2022-07-20 22:47] JemDay commented on #759
And to continue that point ... if the JSON Value is a string containing the word _hello_ then the proto.text_data would be 7 characters long - `"hello"`-  including the "s because that's what makes it a JSON String value.

[2022-07-20 22:48] JemDay commented on #759
That behavior I'd want to verify to ensure the Java SDK works like that, I don't believe I had a test-case for that.

[2022-07-26 16:07] n3wscott commented on #783
Thanks for the PR!!

[2022-07-26 16:07] #783 closed

[2022-07-26 17:01] n3wscott commented on #782
Thanks for the report. There was a case where the json iterator error was not being looked at for cases when we see data before content type. In this case we created a new json iterator to process the bytes.

As for the error, I have added more context to the new error `Unmarshal` returns. And I was incorrect, the data codec does not get a chance here yet, this is pre-processing to convert a struc

[2022-07-27 04:28] seitau commented on #761
I am encountering the same issue.

We can use the official CE proto file to generate `CloudEvent` model in golang, but we can not use `format.FromProto` method because it expects `github.com/cloudevents/sdk-go/binding/format/protobuf/v2/internal/pb.CloudEvent` which is private.

[2022-07-27 21:38] #782 closed

[2022-07-27 21:47] n3wscott commented on #761
Those that are using proto, would you expect proto to look like one of the transport choices rather than a bit extra on the http client?

Would anyone be interested in a first class proto transport like the kafka and pubsub transports exist?

[2022-08-02 17:59] reachlakstar opened #788 "Yaml V2 Vulnerability"
FORTIFY is throwing Yaml V2 vulnerabilities, could you please migrate to new versions
OR
Please get rid of this dependancy
github.com/stretchr/testify v1.5.1

[2022-08-07 07:36] Roman-Bober opened #789 "Can't send custom type using SetExtension"
I have defined
[code]
However  **failing** to set  as extension the above type instance using
[event_writer](https://pkg.go.dev/github.com/cloudevents/sdk-go/v2/event#Event.SetExtension)
[code]

Failure occurs in [value.go](https://github.com/cloudevents/sdk-go/blob/main/v2/types/value.go#L92)
[code]
Any ideas on how to send my type(I can use casting to int but it seems unnatural)?
Thanks

[2022-08-09 17:25] n3wscott commented on #789
This is correct, there is a type system that is supported by cloudevents at the spec level and you will need to turn your custom value into some kind of supported type, likely a string.

[2022-08-09 17:25] #789 closed

[2022-08-09 17:26] n3wscott commented on #788
Thanks for the report. Will look into it.

[2022-08-10 16:40] reachlakstar commented on #788
@n3wscott if you migrate the go.mod version of github.com/stretchr/testify 1.8.0 this will go away.

[2022-08-10 18:44] reachlakstar commented on #788
@n3wscott when do you think this will be released

[2022-08-10 19:57] n3wscott commented on #788
I can make a new release after I get a review on https://github.com/cloudevents/sdk-go/pull/790

[2022-08-11 17:14] grayside opened #791 "Allow custom override of the datacodec registry"
## Problem

I would like to unmarshal events sent with a registered data content type (e.g., `application/json`) using a custom codec. I do not want to disrupt all events using that content type.

Use cases for this include:

* Use protojson to unmarshal `application/json` events for specific types with a protobuf-based schema
* Build additional transformation logic into a custom codec to inject d

[2022-08-11 19:49] n3wscott commented on #791
Thanks for the well written issue.

I was wondering what you imagine the integration code would look like, ie, what would the sample code be that leverages these overrides? I am trying to understand how you intend to use such a feature (and why it would want to be in the sdk vs handled in custom code with raw data access on the special case).

[2022-08-12 01:21] grayside commented on #791
Making this more specific, suppose I want to unmarshal the data payload of a CloudEvent delivered as application/json to a protobuf.

### Type Definition

[code]

### Server Developer Experience

This is very little different from the default example.

[code]

[2022-08-12 12:09] AndreasBergmeier6176 commented on #744
This is more than half a year old - is this repo even maintained anymore?

[2022-08-12 12:16] AndreasBergmeier6176 opened #792 "Provide examples how you think people should use Protobuf"
At least to me the design decisions that this library took are not obvious.
Also I have no idea how the library authors think people should use this library.
Obvious to me would be:

[code]

but as mentioned in other issues that does not work since `pb` package is under `internal` and not at the correct stage.

[2022-08-12 16:31] #788 closed

[2022-08-12 16:57] n3wscott commented on #791
It seems very odd for the target data struct to be able to overload the encoding the cloudevent presently is. When the `DataAs` method goes to convert the inner data to be whatever you need it to be, it takes the data content encoding and the location of the data into account, and then delegates to the registered masherler for that data content encoding.

How about another approche.... it is rare

[2022-08-12 17:12] n3wscott commented on #792
I agree.

I think we should make a full fledged proto transport. What do you think?

[2022-08-12 17:18] n3wscott commented on #744
It is maintained by volunteers. Would you like to contribute @AndreasBergmeier6176 ?

[2022-08-15 23:18] muncus commented on #761
For my use case, a first-class proto transport would not help.

What I would like is more control over the way the CloudEvent protos are encoded (e.g. to work around #759 by moving content to `text_data`), or to embed a CloudEvent object in a different proto message as proto (instead of serialized json).
I view this as trying to use *proto* CloudEvents at the "Resource Level" as described in [Inve

[2022-08-16 16:02] grayside commented on #791
I'm not sure I follow this idea, I believe you are suggesting we don't want supplied types to have an awareness of the CloudEvent SDK, and so instead we modify the codec system to have a concept of codecs self-selecting according to a priority order.

Did I correctly understand?

* The datacontenttype or struct annotations are used to select which registered codecs to attempt
* Codecs are applied

[2022-08-16 16:39] n3wscott commented on #791
@grayside Yes, you understand it correctly. And I think we could end up with something that does what you are expecting by default for structs that have the `protobuf` annotations, and we would add a hook into that codec selection process for the future to allow anyone else to change these rules as they need for their specific use-case.

[2022-08-16 18:06] n3wscott commented on #761
As to why internal, I don't see a reason provided. Personally I don't use internal unless there is a very very good reason and I don't see one here. https://github.com/cloudevents/sdk-go/pull/662

I would be supportive of moving those packages to a non-internal package.

[2022-08-16 19:27] muncus commented on #761
Great, I will work up a PR to expose them.

Would you like to have the protos versioned by spec version? I'm not sure it is necessary, but i will defer to a maintainer's judgement 😄

[2022-08-17 00:20] n3wscott commented on #761
If you are asking if we should make releases based on the cloudevents spec version, I would say no, it would make the release process very tricky and it is already tricky with so many modules. But I could be misunderstanding the question. Is there a verison that is embedded in the proto file?

Maybe first pass is just pop that internal package into an exported package so you can get at the generat

[2022-08-18 17:06] grayside commented on #791
I've thought this over, and I think your solution has cleaner separation of concerns but a lot more work to implement and optimize. I've also seen priority registry patterns like this create ordering conflicts in larger codebases. I'm going to canvas a few other patterns in this comment to see if I can find another approach that makes sense so we have two viable options.

I wonder if there's still

[2022-08-19 17:23] muncus commented on #761
Scott, PR #793 should address the concerns on this issue, please take a look when you have a chance. Thanks!

For clarity, you did understand my question correctly regarding cloudevents spec version, and I agree with you. 👍🏼

[2022-08-20 19:03] #761 closed

[2022-08-24 22:29] grayside commented on #791
@n3wscott do you have further thoughts on the direction? (If it helps I hope to contribute implementation.)

[2022-08-25 00:41] n3wscott commented on #791
I think we should do the harder what I suggested. If that sounds a like a plan we can get to work. 🙂

[2022-08-30 06:01] alecthomas opened #795 "invalid version: unknown revision when upgrading"
It seems to be impossible to use v2/protocol/kafka_sarama due to the local filesystem `replace` directives. Is there a solution to this?

[code]

[2022-08-30 16:34] n3wscott commented on #795
Please use the releases from the sdk or one of the release branches and not the development branch. Those do not have the local replaces.

[2022-08-30 16:34] #795 closed

[2022-08-30 16:37] n3wscott commented on #753
I believe the linked PR corrected this issue with the corresponding config set on the transport instance. Closing, please reopen if this was not solved.

[2022-08-30 16:37] #753 closed

[2022-08-30 23:00] alecthomas commented on #795
How is v2.11.0 a development branch?

[2022-08-30 23:01] alecthomas commented on #795
Ah you mean the kafka_sarama version...?

[2022-08-30 23:11] grayside commented on #766
Where should this method live?

[2022-08-30 23:43] alecthomas commented on #795
Ah this works, found by Googling for "cloudevents go kafka_sarama" and landing on https://pkg.go.dev/github.com/cloudevents/sdk-go/protocol/kafka_sarama/v2:

[code]

[2022-09-01 09:10] tommed opened #796 "Support for TokenSource"
I would like my CloudEvents server and client to support OAuth2 access tokens.

For the listening server, I see that I can create a `http.Handler` using `cloudevents.NewHTTPReceiveHandler` which would allow me to wrap this in middleware for checking the `Authorization` header.

However, I am unable to find a way to set the access token on the outgoing/calling client (e.g. `cloudevents.NewClientHTT

[2022-09-01 15:28] n3wscott opened #797 "Support parsing data with datacontenttype of `+json` as json"
Need to confirm this works in the go sdk, https://github.com/cloudevents/sdk-java/issues/470

[2022-09-01 15:41] n3wscott commented on #796
Howdy! you are able to populate the client inside of the http protocol instance directly, after calling https://github.com/cloudevents/sdk-go/blob/82f2b61ecde41fd0577969cc58a7c2a18eeda250/v2/protocol/http/protocol.go#L92-L118 you can reach in and change the http client, it is exported: https://github.com/cloudevents/sdk-go/blob/82f2b61ecde41fd0577969cc58a7c2a18eeda250/v2/protocol/http/protocol.go#

[2022-09-01 15:45] n3wscott commented on #766
I think a new file in https://github.com/cloudevents/sdk-go/tree/main/v2/protocol/http would be fine, and you could export it to the top level via https://github.com/cloudevents/sdk-go/blob/main/v2/alias.go

[2022-09-01 15:50] n3wscott commented on #755
There is some work starting to look at this binding!

https://github.com/cloudevents/spec/pull/1043

[2022-09-01 15:53] tommed commented on #796
Amazing thanks! :)

[2022-09-01 15:53] #796 closed

[2022-09-01 16:23] n3wscott opened #798 "[AMQP] Need to permit underscore character as alternate separator."
Ref: https://github.com/cloudevents/spec/pull/1050

[2022-09-01 23:56] grayside commented on #766
I've got most of a first pass put together, but I'm getting a segfault that I've traced to the transformers invocation in the ToEvent return statement:

https://github.com/cloudevents/sdk-go/blob/c623f8bfd7c3d7206f0aec5730460d137e3f42a8/v2/binding/to_event.go#L61

This struck me as potentially an existing bug, so I wanted to surface this quickly in case it was already identified.

[2022-09-06 14:52] n3wscott commented on #766
interesting, any idea what the segfault is about? able to make a unit test to repro?

[2022-09-06 21:19] grayside commented on #766
Yes, the unit test coverage I wrote for the helper function consistently reproduces. I've pushed what I have to a draft PR to illustrate: https://github.com/cloudevents/sdk-go/pull/799

[2022-09-08 21:16] grayside commented on #791
Hi @n3wscott , this ended up at larger complexity than I initially thought and I am considering the timing of when pursuing this makes sense. Thanks for helping identify a path forward!

[2022-09-09 10:53] horoc opened #800 "[Bug] ToEvent function can't work with binary reader/writer"
### Issue

<img width="1297" alt="image" src="https://user-images.githubusercontent.com/63457588/189332157-4fa18ae3-1418-41a9-a5bb-4b0ab2a51a1a.png">

<img width="1201" alt="image" src="https://user-images.githubusercontent.com/63457588/189332236-49a1d48a-6edc-47f4-afc6-3a161fb4315b.png">

When I tried to custom a new binary reader and convert my custom struct to a cloud event struct through ```To

[2022-09-09 10:55] #800 closed

[2022-09-09 11:38] horoc opened #801 "ToEvent function can't work with custom binary reader"
### Issue

Hi community, I got some problems while integrating with cloudevents into my project.

I tried to custom a new binary reader which only supports Binary Encoding. And  I use function

```binding.ToEvent``` to convert my custom struct to a cloud event by my custom reader, like :

[code]
And it turns out a panic.

After doing some investigation, I found :

<img width="1033" alt="image" src

[2022-09-09 15:49] #801 closed

[2022-09-16 19:35] Wigglytuffs commented on #798
Hey 👋  I am working on this issue

[2022-09-21 16:06] #766 closed

[2022-09-28 09:17] sforests opened #804 "change cloudevents.HTTPOption and cloudevents.HTTPOption from type redefine to type alias"
hello!
I want to use opts to create client as blow:
[code]
then, build error occur:
`cannot use v2.WithTarget("http://target_url") (type "github.com/cloudevents/sdk-go/v2/protocol/http".Option) as type v2.HTTPOption in append`

expect:
[code]
I think it is better to change cloudevents.HTTPOption and cloudevents.HTTPOption from type redefine to type alias.
Is this written for other considerations o

[2022-09-29 16:21] n3wscott commented on #804
Thanks for the PR!

[2022-09-29 16:21] #804 closed

[2022-10-02 13:00] embano1 commented on #751
Fixed in #774

[2022-10-04 15:01] dan-j opened #809 "Handle panic in EventDefaulters"
Not sure if I'm overloading the use of the `EventDefaulter` mechanism, but I'm trying to add some extension attributes to messages returned by my handlers, but it requires network calls and lots of things may go wrong. As such, at the moment my event defaulters are panicking since the signature does not allow returning errors, however these aren't recovered from in `receiveInvoker.Invoke()`.

Can

[2022-10-05 23:51] dan-j opened #810 "Unhelpful debug message on ToEvent failure"
Within `Client.Request()`, if `ToEvent()` fails it debug logs the response like so:

https://github.com/cloudevents/sdk-go/blob/ce4c9d7b260790729d7682ae6dec63e53c102a33/v2/client/client.go#L179-L185

When using the `*http.Protocol`, and debug logging is enabled you get a message like so:

[code]

Notice the `respError` printed by zap, I believe this is due to the `OnFinish` field. This could be fi

[2022-10-19 02:13] ngoctran1 opened #812 "DataContentType in the pubsub protocol should be sent as "ce-datacontenttype""
Hello all, I'm having a problem where I'm using the pubsub protocol to send events in binary mode and was expecting the `datacontenttype` to be sent as the `ce-datacontenttype` attribute as per the Google pubsub protocol spec examples (I realise this is quite old, out of date, and a working draft, but I haven't been able to find any other spec for this):
https://github.com/google/knative-gcp/blob/

[2022-10-25 18:57] bruth commented on #697
I believe this needs to be closed.

[2022-10-25 18:58] bruth commented on #630
Has this been resolved or is there anything I can help with to resolve this?

[2022-10-25 19:07] bruth opened #814 "Add binary content mode for NATS and JetStream protocols"
Hi, back in May I added the [binary content mode](https://github.com/cloudevents/spec/blob/main/cloudevents/bindings/nats-protocol-binding.md#31-binary-content-mode) to the CloudEvents spec for NATS. Both the `nats` and `nats_jetstream` bindings can be updated to support the binary mode (NATS server has supported message headers since May 2020).

I am happy to contribute these updates, but wanted

[2022-10-27 20:11] dennisjac opened #815 "IsUndelivered() returns false even when event was not delivered"
I just adapted the sender and receiver examples from the main repo page a little bit and when the receiver isn't running but I run the sender then `IsUndelivered()` returns `false` even though the event was not delivered.

[code]
results in:
[code]
IsUndelivered() should clearly return true in this case.

[2022-10-31 18:50] Roman-Bober opened #816 "When adding int64 within getting Field error fatal error"
When calling ~github.com\cloudevents\sdk-go\v2@v2.11.0\event\event_writer.go:SetExtension :
[code]
getting error and value not set

![image](https://user-images.githubusercontent.com/5255154/199085929-97accf83-7dc0-4ec3-8b6b-d48ee594a12f.png)

[2022-11-02 03:45] nbajaj90 opened #817 "After a rebalance, the receiver keeps receiving messages until it errors out"
After a rebalance, the receiver keeps receiving messages until its error out, and most of these messages fails to commit. Do we need to fix the ConsumeClaim to return once the consumer session ends (because of rebalance), so that the receiver won't keep receiving messages after rebalance.

To fix here:
https://github.com/cloudevents/sdk-go/blob/6784a56ad84051544d141e597a226e8e48cb8a98/protocol/kaf

[2022-11-02 13:40] nbajaj90 commented on #817
Expecting something like -
[code]

[2022-11-08 19:53] duglin opened #819 "[security] Outdated Vulnerable Dependencies"
# Description
Multiple outdated dependencies with publicly known vulnerabilities were identified in the Go SDK. The open-source snyk tool was used to automatically audit each module. Due to time constraints and ease of remediation, exploitability of these issues within the context of the SDK was not manually reviewed.
A list of Go SDK modules and their vulnerable dependencies is provided below:
![

[2022-11-08 19:56] duglin opened #820 "[security] Downcasting of 64-bit integer"
# Description
The strconv.Atoi function parses an int: a machine dependent integer type that will be int64 for 64-bit targets. There are places throughout the codebase where the result returned from strconv.Atoi is later converted to a smaller type: int16 or int32. This may overflow with a certain input.

[code]
[code](https://github.com/cloudevents/sdk-go/blob/c623f8bfd7c3d7206f0aec5730460d137e3f

[2022-11-08 19:58] duglin opened #821 "[security] ReadHeaderTimeout not configured"
# Description
The http.server API in Go can be initialized with four different timeouts, including ReadHeaderTimeout. Without specifying a value for this timeout, the listener instance will become vulnerable to the Slowloris DoS attack.
![image](https://user-images.githubusercontent.com/1944671/200662535-5dae2b36-2ac4-4de2-968e-7ce4fbc4ca2c.png)
[code](https://github.com/cloudevents/sdk-go/blob/c6

[2022-11-10 12:54] #817 closed

[2022-11-17 18:03] dan-j commented on #791
Hi all.. I've just come across this issue while looking for a solution to a different problem.

I'm trying to perform custom marshalling for CSV data, where my data is a `map[string]string`, but I need to output the values as a CSV, in the correct order as defined by some column order (where the keys in the map are the column names).

For context, I am aggregating multiple events into a single bat

[2022-11-20 20:07] #738 closed